<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>タロット占い</title>

    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <!-- googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

    <!-- ここにstylesheetを追加 -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1 class="align-center">タロット占いの館</h1>
    <div class="wrapper">
    <form action="/tarot" method="post" class="wrapper">
    <h2 class="align-center">相談内容を選択</h2><br>
        <div class="grid_index">
            <label for="job"><input type="radio" name="consultation" value="1" id="job" checked >転職すべきかどうか</label>
            <label for="jobtraining"><input type="radio" name="consultation" value="2" id="jobtraining" >職業訓練を受けるべきかどうか</label>
            <label for="todayfortune"><input type="radio" name="consultation" value="3" id="todayfortune" >今日の運勢</label><br>
        </div>
        <div class="align-center">
        <input type="submit" value="相談する" class="btn">
        </div>
    </form>
    </div>
</body>
</html>