<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タロットカードのシャッフル</title>
    <script>
        // タロット乱数を生成するボタン
        function generateTarots() {
            fetch('/generateTarots', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    alert(data.message); // 成功したらメッセージを表示
                });
        }

        // 生成されたタロット乱数を表示するボタン
        function getTarots() {
            fetch('/getTarots', { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                if (data.cards !== undefined) {
                    let cardDetails = data.cards.map(card => {
                        return `${card.card} (${card.position})`;
                    }).join("\n");

                    alert("選ばれたタロットカード:\n" + cardDetails);
                } else {
                    alert(data.message);
                }
            });
        }
    </script>
</head>
<body>
    <h1>タロットカード占い</h1>
    <p>以下のボタンをクリックして、ランダムにタロットカードを3枚選んでみましょう！</p>
    <button onclick="generateTarots()">山札をシャッフル</button>
    <button onclick="getTarots()">３枚のカードを表示</button>

</body>
</html>
