<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タロットカードのシャッフル</title>
    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <!-- googleフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

    <!-- ここにstylesheetを追加 -->
    <link rel="stylesheet" href="/static/css/style.css">
    
    
<body class="of">
    <h1 class="align-center">タロットのシャッフルと決定</h1>
    <div class="align-center">
        <p>以下のボタンをクリックしてタロットカードをシャッフルしよう！</p>
        <a href="/generateTarots"><button class="btn">山札をシャッフル</button></a>
    </div>
    <div class="card-container">
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
        <img src="/static/images/card_back.png" class="card" />
    </div>
    <div class="align-center">
        <a href="/getTarots"><button class="btn">上から3枚のカードを選ぶ</button></a>
    </div>
    <!--javascript読み込み-->
    <script src="/static/cardsShuffle.js"></script>
</body>
</html>